In [10]:
import csv
import pandas as pd
from IPython.display import display, HTML
import soundex
import cleanData
reload(cleanData)

with open("data.csv", "r") as f:
    reader = csv.reader(f)
    dataset = []
    for i, row in enumerate(reader):
        if i == 0:
            columns = [entry.decode("utf8").upper().replace(" ", "_") for entry in row[:-1]]
        else:
            dataset.append([cleanData.parse(entry, columns[i]) for i, entry in enumerate(row[:-1])])
    
pd.set_option('display.max_colwidth', -1)
dataframe = pd.DataFrame(dataset[:-1], columns=columns)
dataset = dataset[:-1]
display(dataframe)

,GROUPID,PATIENTID,PATIENT_ACCT_#,FIRST_NAME,MI,LAST_NAME,DATE_OF_BIRTH,SEX,CURRENT_STREET_1,CURRENT_STREET_2,...,CURRENT_STATE,CURRENT_ZIP_CODE,PREVIOUS_FIRST_NAME,PREVIOUS_MI,PREVIOUS_LAST_NAME,PREVIOUS_STREET_1,PREVIOUS_STREET_2,PREVIOUS_CITY,PREVIOUS_STATE,PREVIOUS_ZIP_CODE
0,1,1,247028705-7,SUTTON,J,POWER,9/20/45,MALE,1858 sullivan parkway,,...,California,93726,,,,2 erie crossing,9,MOUNT VERNON,New York,10557
1,1,2,,SUTTIN,J,POWER,9/21/45,MALE,1859 sullivan parkway,2,...,California,93726,,,,2 erie crossing,9,MOUNT VERNON,New York,10557
2,1,3,247028705-7,SUTTON,J,POWER,9/20/45,MALE,1858 sullivan parkway,,...,California,93726,,,,,,,,
3,1,4,,SUTTON,,POWER,9/20/54,MALE,1858 sullivan parkway,,...,California,93726,,,,,,,,
4,1,5,,SUTTON,,POWER,9/20/54,MALE,1858 sullivan pkway,2,...,California,93726,,,,,,,,
5,2,6,,SUTTON,,POWERS,12/15/00,FEMALE,1619 maple lane,,...,California,93726,SUTTON,,LORE,,,,,
6,2,7,,SUTTON,,POWERS,12/15/00,FEMALE,1619 maple lane,,...,California,93726,,,,,,,,
7,3,8,757393348-7,MIKEL,L,TRAYTON,9/20/00,MALE,715 jana point,,...,Arizona,85219,,,,81089 kenwood park,,CHATTANOOGA,Tennessee,37416
8,3,9,757393348-7,MIKEL,L,TRAYTON,9/20/00,MALE,715 jana point,,...,Arizona,85219,,,,81089 kenwood park,,CHATTANOOGA,Tennessee,37416
9,3,10,757393348-7,MICHAEL,,TRAYTON,9/20/00,MALE,715 jana point,,...,Arizona,85219,,,,81089 kenwood park,7,CHATTANOOGA,Tennessee,37416
10,3,11,,MIKE,,TRAYTON,9/2/00,MALE,715 jana point,,...,Arizona,85219,,,,,,,,
11,3,12,757393348-7,MIKEL,,TRAYTON,9/20/00,MALE,715 jana point,,...,Arizona,85219,,,,,,,,
12,3,13,,MIKEL,L,TRAYTON,9/20/00,FEMALE,715 jana point,,...,Arizona,85219,,,,,,,,
13,4,14,930819916-0,DALIA,,BIBB,12/7/39,FEMALE,78 talmadge drive,,...,New York,11447,,,,389 hollow ridge pass,24,MACON,Georgia,31205
14,4,15,,DALIA,,BIBB,12/7/39,FEMALE,78 talmadge drive,,...,New York,11447,,,,,,,,
15,5,16,887103871-1,MYRVYN,,BUDDOCK,4/11/46,MALE,264 judy pass,,...,California,92812,,,,02 sauthoff park,587,CINCINNATI,Ohio,45208
16,5,17,,MERVIN,T,BUDDOCK,4/11/46,MALE,264 judy pass,,...,California,92812,,,,,,,,
17,5,18,,MYRVIN,,BUDDOCK,4/11/46,MALE,264 judy pass,,...,California,92812,,,,,,,,
18,5,19,,MERVYN,,BUDDOCK,4/11/46,MALE,264 judy pass,,...,California,92812,,,,02-sauthoff park,587,CINCINNATI,Ohio,45208
19,6,20,,MERVIN,,BUDDOCK,12/15/00,MALE,251030 golf bolling,,...,California,92812,,,,,,,,
20,7,21,146899396-8,CAMMY,,WINDLESS,4/18/84,FEMALE,142 summer ridge place,,...,California,93709,,,,,,,,
21,7,22,CAM123,CAM,,WINDLESS,4/18/84,FEMALE,142 summer ridge place,,...,California,93709,CAM,,WINDLESS,,,,,
22,7,23,,CAMERON,,WINDLES,4/18/84,FEMALE,142 summer ridge place,,...,California,93709,,,,1 merchant hill,3539,BROOKLYN,New York,11220
23,8,24,075148803-8,ELENORE,,MACDONNELL,12/16/50,FEMALE,549 pearson plaza,,...,Georgia,31106,,,,170 hanson alley,5096,EL PASO,Texas,88535
24,8,25,075148803-8,ELENOR,,MCDONNELL,12/6/50,FEMALE,549 pearson plaza,,...,Georgia,31106,ELENOR,JUDITH,MCDONNELL,,,,,
25,8,26,075148803-8,ELENORA,,MACDONEL,12/16/50,FEMALE,549 pearson plaza,,...,Georgia,31106,,,,170 hanson alley ste 5096,,EL PASO,Texas,88535
26,9,27,111421375-6,JANET,,BIASINI,9/28/49,FEMALE,9083 pennsylvania parkway,,...,North Carolina,27615,,,,7350 calypso alley,263,YOUNGSTOWN,Ohio,44511
27,9,28,,JANET,,BISINI,9/28/49,FEMALE,9083 pennsylvania parkway,,...,North Carolina,27615,JANET,,THOMPSEN,7350 calypso alley,263,YOUNGSTOWN,Ohio,44511
28,10,29,303748859-X,DARBY,,STEINSON,6/14/91,MALE,1587 shopko parkway apt 200,,...,Texas,77035,,,,4 morningstar drive,3,LOS ANGELES,California,90060
29,10,30,,DARBIE,,STEIINSON,6/14/91,MALE,1587 shopko parkway,200,...,Texas,77035,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,53,172,404591211-8,BERTI,,LOCKIE,11/13/1983,FEMALE,2729 springs junction,,...,Virginia,22234,,,,5 sloan crossing,401,DALLAS,Texas,75342
172,53,173,,BERTI,,LOCKEE,11/13/1983,,2729 springs junction,,...,Virginia,,,,,5 sloan crossing,,DALLAS,Texas,
173,53,174,,BERTI,,LOCKI,11/13/1983,F,2729 springs junction,,...,Virginia,22234,,,,5 sloan crossing,401,DALLAS,Texas,75342
174,53,175,48521534889,BERTI,,LOCKIE,10/13/19/3,F,2729 springs junction,,...,Virginia,22234,,,,5 sloan crossing,401,DALLAS,Texas,75342
175,54,176,265234041-7,ZARAH,,DAKE,6/29/2010,FEMALE,334 pearson lane,,...,California,95219,MICHAEL,,DAKE,8305 park meadow crossing,7,MINNEAPOLIS,Minnesota,55480
176,54,177,,SARAH,,DAKE,6/29/2010,F,334 pearson ln,,...,,95219,,,,8305 park meadow crossing,7,MINEAPOLIS,,55480
177,54,178,265234041-7,SARA,,DRAKE,6/29/2010,,334 pearson ln,,...,California,,,,,8305 park meadow crossing,,MINNEAPOLIS,Minnesota,
178,55,179,361284643-4,MADISON,G,PYBUS,12/30/1937,MALE,14 cardinal terrace,,...,Oregon,97211,,,,121 emmet way,615,SIOUX CITY,Iowa,51110
179,55,180,,MADDIE,G,PYBUS,12/30/1937,,14 cardinal terace,,...,Oregon,9721,,,,121 emmet way,,SIOUX CITY,Iowa,51110
180,55,181,584121154-1,MADISON,,P,12/20/1937,,14 cardinal terrace,,...,Puerto Rico,,,,,,,,Iowa,
181,55,182,,MADISON,,PIEBUS,12/30/1937,M,14 cardinal terrace,,...,Oregon,97211,,,,121 emmet way,615,SIOUX CITY,Iowa,51110
182,56,183,488721348,MADISON,Q,PYBUS,5/24/2013,FEMALE,4454 spadafore dr,,...,Washington,98683,,,,,,,,
183,57,184,101138829-4,EARLY,,BURNYEAT,9/26/1991,,66 pierstorff ave,,...,Pennsylvania,16107,,,,,,,,
184,57,185,101518532,EARLIE,J,BURNYEAT,9/26/1991,,66 pierstorff avenue,,...,Pennsylvania,16107,,,,,,,,
185,57,186,101138829-6,HEARLY,J,BURNIET,9/26/19991,,66 pierstorff ave,569,...,Pennsylvania,1610,,,,,,,,
186,58,187,PAT10222JV,J,,VU,12/15/1970,FEMALE,1619 78th road,,...,Washington,98683,,,,,,,,
187,58,188,PAT10222JV,J,,VU,12/15/1970,FEMALE,1619 78th rd,,...,Washington,98683,,,,,,,,
188,58,189,,JA,,VUE,12/15/1970,FEMALE,1619 78th rode,,...,Washington,98683,,,,,,,,
189,58,190,,JAH,,VU,12/15/1970,FEMALE,1619 78th roed,,...,Washington,98683,,,,,,,,
190,59,191,1000TF1,T.J.,S,FRY,5/5/86,FEMALE,12405 teiter heights e,,...,Washington,98626,,,,,,,,
191,59,192,,T-JAY,S,FRY,5/5/86,FEMALE,12405 teiter heights e,,...,Washington,98626,,,,,,,,
192,59,193,,T-J,S,FRYE,5/5/86,FEMALE,12405 teiter heights e,,...,Washington,98626,,,,,,,,
193,59,194,,TJ,S,FRY,5/5/86,FEMALE,12405 teiter heights e,,...,Washington,98626,,,,,,,,
194,60,195,,TODD,,JONES,12/1/15,MALE,15424 jeffies lane,2,...,Washington,98683,,,,,,,,
195,60,196,,TOM,,JONES,12/1/15,MALE,15424 jeffies lane,2,...,Washington,98683,,,,,,,,
196,61,197,,BILL,,SMITH,5/16/72,MALE,16595 city view lane,,...,Washington,98684,,,,,,,,
197,62,198,,BILL,,SMITH,5/16/72,MALE,,,...,,,,,,,,,,
198,63,199,,SARAH,,FIELD,3/17/10,FEMALE,9850 kelso road,,...,Washington,98626,,,,,,,,
199,64,200,,SARA,,FIELD,3/17/10,FEMALE,,,...,,,,,,,,,,
200,65,201,,SARA,,FIELD,3/17/10,FEMALE,,,...,,,,,,,,,,

In [3]:
QUANTITY_OF_PATIENTS = [x for x in dataset]
MAP_OF_PATIENTS = {}

for row in dataset[1:-1]:
    GroupID = int(row[0])
    if GroupID not in MAP_OF_PATIENTS:
        MAP_OF_PATIENTS[GroupID] = []
    MAP_OF_PATIENTS[GroupID].append(row)
    
print MAP_OF_PATIENTS.keys()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

In [14]:
reload(cleanData)
# Convert up to 10 characters to phonetic character

s = soundex.getInstance()
scoreVal = 0
dataframe['First'] = [s.soundex(x) for x in dataframe.FIRST_NAME]
for row in dataframe.itertuples():
    mostSimilar = None
    mostSimilarScore = 0
    rowuno = list([(columns[i], row[i]) for i in range(len(columns))])
    for row2 in dataframe.itertuples():
        rowdos = list([(columns[i], row2[i]) for i in range(len(columns))])
        score = cleanData.calc_similarity(rowuno, rowdos)
        if score >= mostSimilarScore:
            mostSimilar = row2
            mostSimilarScore = score
    if row.GROUPID == mostSimilar.GROUPID:
        scoreVal += 1
    # display("{} == {}".format(row.GROUPID, mostSimilar.GROUPID))
display("Success score: {}".format((float(scoreVal)/float(len(list(dataframe.itertuples()))))* 100))

'Success score: 100.0'